*, *::before, *::after {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin:0;
    background: #ff9966;
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    background: linear-gradient(to right, #ff5e62, #ff9966);
    font-family: 'IBM Plex Serif', serif;
}

.contenedor {
    background-color: white;
    min-height: calc( 100vh - 20px );
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.catalogo {
    padding: 20px 30px 0 30px;
}


/*Inicio Menu de Navegacion*/
nav {
    background-color: #3F51B5;
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    padding: 20px;
}
nav ul li:hover {
    background-color: #1a2770;
}
nav ul a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}

/*Iconos*/
.iconos ul li a {
    display: flex;
    justify-content: center;
}

.iconos .icono {
    flex: 0 1 2rem;
}

.iconos .texto span {
    font-size: .8rem;
    display: block;
    margin-top: .5rem;
}

@media screen and (min-width:480px){
    .iconos ul {
        display: flex;
        flex-wrap: wrap;
    }
    .iconos ul li {
        flex: 0 1 50%;
    }
}

@media screen and (min-width:768px){
    .iconos ul li {
        flex: 1;
    }
}
/*Fin Menu de Navegacion*/

/*Inicio Eslider Animado*/
:root {
    --slider-items: 3; /*Creamos una variable para que las imagenes puedan medir todo el tamño, ponemos 3 porque estamos usando 3 imagenes y si colocamos una cuarta imagen solo cambiamos el numero*/
    --slider-time: 6s; /*Creamos una variable para el tiempo que demorara la imagen en pantalla*/
}

.page-title {
    text-align : center; /*Centramos el titulo*/
    line-height : 2; /*Anchura del titulo*/
    display : flex;
    align-items: center;
    width : 90%;
    margin-left : auto;
    margin-right : auto;
}

.page-title::before,
.page-title::after {
    content: "";
    flex: auto;
    height : .05em;
    display : block;
}

.page-title::before {
    margin-right :.5em; /*Margen que separa la linea derecha con el texto*/
    background : linear-gradient(to left, yellow, red); /*Color de la linea*/
}

.page-title::after {
    margin-left : .5em; /*Margen que separa la linea izquierda con el texto*/
    background : linear-gradient(to right, yellow, red); /*Color de la linea*/
}

.slider {
    width : 90%;
    margin-left : auto;
    margin-right : auto;
    overflow : hidden;
}

.slider__content {
    display : flex; /*Sera el contexto flexible para que sus hijos se puedan alinear uno al lado de otro*/
    width : calc(100% * var(--slider-items)); /*Usamos nuestra variable creada en la primera linea y le damos un ancho a las imagenes de 100% a cada una*/
    animation: slider var(--slider-time) linear infinite; /*Usamos nuestra variable para determinar el tiempo que demorara cada imagen en pantalla*/
    position : relative; /*Nos ayuda a mover las imagenes*/
    left : 0; /*Movemos de izquierda a derecha*/
}

.slider__item {
    position : relative; /*Ponemos al slider__item position relative porque lo usaremos para slider__Caption*/
}

.slider__img {
    width : 100%; /*Ancho de las imagenes 100% para que sean responsive*/
    display : block; /*Ponemos a la imagenes en bloque para no tener una linea sobrante cuando ponemos la descripcion de las imagenes*/
}

.slider__caption {
    background : rgba(0,0,0,.8); /*Color de fondo de la descripcion*/
    color: #fff; /*Color de letra de la descripcion*/
    padding : 1em; /*Separacion interno del texto con la caja*/
    position : absolute; /*Lo utilizamos para colocar la descripcion encima de la imagen*/
    bottom : -5em; /*La descripcion empezara a oparecer desde abajo */
    left : 1em; /*Posicionamos la descripcion encima de la imagen*/
    animation: caption calc(var(--slider-time) / 3) linear infinite; /*Con la animacion aparecera la descripcon desde abajo con tiempo*/
}

 /*Con @keyframes slide son como se moveran las imganes*/
@keyframes slider {
    0%, 30% {
        left : 0;
    }

    33%, 63% {
        left : -100%;
    }

    66%, 97% {
        left : -200%;
    }
}

/*Con @keyframes caption son como se moveran la descripcion de cada imagen*/
@keyframes caption {
    20%, 90% {
        bottom: 1em;
        opacity : 1;
    }
    100% {
        opacity : 0;
    }
}
/*Fin Eslider Animado*/



h2 {
    flex: 0 1 100%; /*titulo...0(no crece) 1() 100%(base de 100%)*/
    text-align: center;
    font-size: 1.8rem;
}

h3 {
    font-family: 'Libre Baskerville',serif;
    margin: 0;
    font-weight: 700;
}

img {
    max-width: 100%; 
}

@media screen and (min-width:480px){ 
    .contenido-principal {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-between;
    }
    .entrada { 
        flex: 0 1 calc(50% - 1rem); 
    }
}

@media screen and (min-width:768px){ 
    .entrada { 
        flex: 0 1 calc(33% - 1rem);
    }
}

.entrada {
    margin-bottom: 1rem;
}

.contenido {
    background-color: white;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
}

.contenido span {
    color: #db008d;
    font-weight: 800;
    font-size: 1.2rem;
}

.contenido h3 {
    font-size: .8rem;
    line-height: 1.4rem; 
}

p {
    margin: 5px;
}

.boton {
    background-color: #008fd1;
    color: #fff;
    padding:  .8rem 3rem;
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
}


/* Footer */
.main-footer {
    background : #222;
    color      : #DDD;
    padding    : 1em;
    text-align : center;
    margin-top : auto;
}

.main-footer a {
    color : #FFF;
}
/* Fin footer */

.siguenos {
    border-top  : 1px solid #777;
    padding-top : 1em;
}

.siguenos a {
    font-size : .9em;
    display   : block;
}

.siguenos a:before {
    display      : inline-block;
    margin-right : .3em;
}

@media screen and (min-width : 768px) {
    .main-footer .siguenos {
        display         : flex;
        justify-content : center;
    }

    .main-footer .siguenos a {
        margin : 0 2em;
    }

    .siguenos {
        border-top  : none;
        padding-top : 0;
    }
}

